{# Args: id_prefix (string, e.g., "viewForms" or "myPicHandoffs") #}
<div class="modal fade" id="{{ id_prefix }}FormDetailsModal" tabindex="-1" aria-labelledby="{{ id_prefix }}FormDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id_prefix }}FormDetailsModalLabel">Form Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="{{ id_prefix }}FormDetailsContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
